.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cardContainer {
    display: flex;
    background: white;
    width: 610px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.productImg {
    width: 50%;
}

.textSection {
    width: 50%;
    padding: 2rem;
}

.textSection h1 {
    color: var(--veryDarkBlue);
    padding-top: 0.7rem;
    font-family: "Fraunces";
    font-weight: 700;
}

.textSection h1,
p {
    margin-bottom: 1.5rem;
}

.textSection .tag,
p {
    color: var(--darkGrayishBlue);
}

.textSection p {
    font-family: "Montserrat";
    font-size: 0.9rem;
}

.tag {
    font-family: "Montserrat";
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.priceContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.priceContainer small {
    text-decoration: line-through;
    color: var(--darkGrayishBlue);
    margin-left: 1rem;
}

.priceContainer h2 {
    color: var(--darkCyan);
    font-family: "Fraunces";
    font-size: 2rem;
}

.cartBtn {
    padding: 0.9rem;
    width: 100%;
    color: white;
    background-color: var(--darkCyan);
    border: none;
    border-radius: 0.4rem;
    font-weight: 700;
}

.cartBtn img {
    margin-right: 0.5rem;
}

.cartBtn:hover {
    cursor: pointer;
    background-color: var(--veryDarkCyan);
}

/* for smaller screens */
@media (max-width: 768px) {
    .cardContainer {
        flex-direction: column;
        width: 350px;
    }

    .productImg {
        content: url(../assets/image-product-mobile.jpg);
        width: 100%;
    }

    .textSection {
        width: 100%;
    }
}