@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* primary */
  --darkCyan: hsl(158, 36%, 37%);
  --veryDarkCyan: hsl(158, 36%, 21%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 44%);

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--cream);
}